version: 2
jobs:
  build:
    branches:
      only:
        - 2
      ignore:
        - master

    docker:
      # specify the version you desire here
      - image: circleci/node:12.10

    working_directory: ~/reshader

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test
